body {
    /* background-color: rgb(65, 65, 65); */
    background-image: url("https://phantasma-mod.github.io/wiki/ressources/fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 20px;
}

p {
    font-size: 25px;
}

.main-block {
    border: 5px solid rgb(150, 150, 150);
    padding: 20px 30px;
    box-sizing: border-box;
    width: calc(100% - 60px);
    margin: 30px auto;
    border-radius: 10px;
    background-color: rgb(199, 199, 199);
    margin-top: 50px;
}

.titre {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}