body {
    background-color: rgb(65, 65, 65);
    margin: 20px;
}

.main-block {
    border: 2px solid black;
    padding: 20px 30px;
    box-sizing: border-box;
    width: calc(100% - 60px);
    margin: 20px auto;
    border-radius: 10px;
}